@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply min-w-0;
  }
  html,
  body {
    @apply h-full;
  }
  body {
    @apply scroll-smooth bg-slate-200 text-neutral-950 antialiased;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance font-bold;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  p {
    @apply text-pretty;
  }
}
